distro==1.4.0
distro-info===0.23ubuntu1
filelock==3.7.1
Flask==1.1.1
Jinja2==2.10.1
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
pipenv==11.9.0
python-apt==2.0.0+ubuntu0.20.4.7
python-debian===0.1.36ubuntu1
simplejson==3.16.0
ssh-import-id==5.10
systemd-python==234
Twisted==18.9.0
ubuntu-advantage-tools==27.9
virtualenv==20.0.17
virtualenv-clone==0.5.7