<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <div class="pt-32 px-8">
        <div>
            <h1 class="text-6xl">Recipes by Category</h1>
        </div>
        <section class="pt-6">
            <p class="font-black"><a href="{{url_for('category_recipes')}}">Meat Recipes</a></p> <!-- Use dynamic just like all recipes from the meat category-->
        </section>
    </div>
{% endblock %}
</body>
</html>