<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="{{ url_for('static', filename= 'css/output.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename= 'css/style/main.css') }}" rel="stylesheet">

    <!--<link rel="stylesheet" href="{{ url_for('static', filename= 'css/create.css') }}">-->
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="flex justify-between flex-row bar absolute top-0 left-0 w-full p-4 nav">
        <div class="flex justify-between flex-row w-full h-[5%] bg-white rounded-2xl p-2 px-4 sticky">
      <a class="title text-4xl" href="{{ url_for('home')}}">Flavors</a>
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>-->
        <div id="navbarNav" class="flex ">
            <ul class="flex space-x-6  font-black flex-row text-black">
                <li class="text-black pt-2">
                    <a class="" href="{{url_for('all_recipe')}}">All Recipes</a>
                </li>
                <li class="pt-2">
                <a class="" href="{{url_for('create')}}">New Recipe</a>
                </li>
                <li class="text-black pt-2">
                    <a class=" text-black" href="#">Contact</a>
                </li>
                <li class="text-black pt-2">
                    <a class=" text-black" href="#">About</a>
                </li>
                <li class="text-white pr-4">
                    <a href="{{url_for('login')}}"><button class=" w-[150%] h-[100%] bg-black rounded-xl text-white">Log In</button></a>
                </li>
            </ul>
        </div>
            </div>
    </nav>
    <!--<div class="container">-->
    <div class="">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
     </div>
      {% block content %} {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
  </body>
</html>
