<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meat</title><!-- Change title to dynamic-->
</head>
<body>
    {% extends 'base.html' %}
<!--<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">-->

{% block content %}
    <div class="container">
    <div class="pt-32 px-32">
    <!--<h1 class="title">{% block title %} Flavors {% endblock %}</h1>-->

    <div class="box">
        <h1 class="text-6xl">{{ category }} Recipes</h1>
    </div>
    <br>

    <section class="pb-20 pt-10">
    {%for recipe in recipes %}
        <a href="{{ url_for('recipe_id', rep_id=recipe['rep_id']) }}">
            <h2 class="pb-2">{{ recipe['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ recipe['created'] }}</span>
        <hr>
    {% endfor %}
    </section>
    </div>
    </div>
{% endblock %}
</body>
</html>