<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Flavors API {% endblock %}</h1>
    <p>This is a recipe api made with ❤️. Brought to you by Homely Flavor.</p>
    <p>To access the recipe api's list, you need to go to the <a href="http://localhost:5000/flavors/api/recipes">http://localhost:5000/flavors/api/recipes</a> on your local machine.</p>
    <p>Or, <a href="https://flavorsapi.herokuapp.com/flavors/api/recipes">https://flavorsapi.herokuapp.com/flavors/api/recipes</a> from our website</p>
    <p>Please help us with maintaining our database by posting your own recipes</p>
    <br>
    <div class="box">
        <code><span class='discl'>Disclaimer:</span><br><br>
            1. When posting a recipe on our website, this means you are the sole creator of that recipe.<br>
            2. Once your recipe is inserted onto our database. Flavor will have full copyright over it or them. Meaning, Flavor could publish, distribute, sell, modify, delete, ...<br>   
        </code>
    </div>
   
{% endblock %}