<!doctype html>
<title>Flavors</title>
{% extends 'base.html' %}

<!--<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">-->

{% block content %}
    <div class="">
        <div class="egg">
            <div class="pt-32 px-6">
                <section class="text-right pt-16">
                    <p class="font-black text-black"><span class="homely text-7xl">Homely Flavor</span><br/>
                        An API for All Flavors<br />
                        Get started, it's Free
                    </p>
                </section>
                <section class="pt-28">
                    <h1 class="special text-right text-3xl">Special</h1>
                    {% if recipe %}
                        <div class="recipe-container">
                            <img class="recipe-image" src="{{ url_for('image', id=recipe['rep_id']) }}" alt="{{ recipe['title'] }}">
                            <h2 class="recipe-title">{{ recipe['title'] }}</h2>
                        </div>
                    {% else %}
                        <p>No recipe available.</p>
                    {% endif %}
                </section>
                <div class="gap">
                </div>
            </div>
        </div>
    </div>
{% endblock %}