<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms & Conditions</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <div class="pt-32 px-8">
        <section>
            <h1 class="text-6xl">Flavors Website and API Policies</h1>

            <h2 class="pt-10">1. Introduction</h2>
            <p>Welcome to Flavors, a cooking recipes website and its API based in South Africa.
                This document outlines the copyright policy, terms and conditions, and other legal policies for Flavors.
                By accessing or using our services, you agree to comply with and be bound by the following terms and conditions.</p>

            <h2 class="pt-10">2. Copyright Policy</h2>
            <h3 class="pt-10 font-black">2.1 Notification of Copyright Infringement</h3>
            <p>If you believe that any content on the Flavors website or API infringes your copyright, please notify us promptly. Your notification must include the following information:
            <br/>
            1. A physical or electronic signature of a person authorized to act on behalf of the copyright owner.<br/>
            2. A description of the copyrighted work claimed to have been infringed.<br/>
            3. A description of the material that is claimed to be infringing and information reasonably sufficient to permit us to locate the material.<br/>
            4. Your contact information, including address, telephone number, and email address.<br/>
            5. A statement that you have a good faith belief that the use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.<br/>
            6. A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the copyright owner.<br/>
            <br/>
            Please send the above information to our Designated Copyright Agent at:<br/><br/>

            Email: copyright@flavors.co.za  <br/>
                Address: [Insert Physical Address], South Africa</p>

            <h3 class="pt-10 font-black">2.2 DMCA Notice of Alleged Infringement</h3>
            <p>Flavors complies with the provisions of the Digital Millennium Copyright Act (DMCA).
                If you believe that your copyrighted work has been infringed on our site or API,
                you may submit a DMCA notice to our Designated Copyright Agent.
                Please follow the guidelines outlined in section 2.1.</p>

            <h2 class="pt-10">3. Terms and Conditions (T&Cs)</h2>

            <h3 class="pt-10 font-black">3.1 Terms of Use</h3>
            <p>By using Flavors, you agree to abide by these Terms and Conditions.
                If you do not agree, please do not use our services.</p>

            <h3 class="pt-10 font-black">3.2 Use of Services</h3>
            <p>You may use the Flavors services for personal, non-commercial purposes only.
                You agree not to misuse the services or help anyone else to do so.
                Users are not permitted to modify, resell, or copy any of Flavors' products and services,
                including recipes. Legal charges may apply for violations.</p>

            <h3 class="pt-10 font-black">3.3 Account Registration</h3>
            <p>To access certain features of Flavors, you must register for an account.
                You must provide accurate and complete information and keep your account information updated.</p>

            <h3 class="pt-10 font-black">3.4 Passwords</h3>
            <p>You are responsible for safeguarding your password and for any activities or actions under your account.
                Flavors will not be liable for any loss or damage arising from your failure to comply with this obligation.</p>

            <h3 class="pt-10 font-black">3.5 Privacy</h3>
            <p>Your privacy is important to us. Please review our Privacy Policy to understand how we collect,
                use, and share information about you.</p>

            <h4 class="font-black font-OnestB pt-10">3.5.1 Information We Collect</h4>
            We collect the following types of information about you:

            Personal Information: This includes your name, email address, phone number, and other information you provide when you register for an account or use our services.
            Usage Information: We collect information about how you use our services, including the recipes you view, the searches you conduct, and the time you spend on our site.
            Device Information: We collect information about the devices you use to access our services, including the type of device, operating system, browser type, and IP address.
            Cookies and Tracking Technologies: We use cookies and similar technologies to collect information about your interactions with our services and to personalize your experience.
            <h4 class="font-black font-OnestB pt-10">3.5.2 How We Use Information</h4>
            We use the information we collect for the following purposes:

            Providing and Improving Services: To operate, maintain, and enhance our services, including personalizing your experience and tailoring content to your interests.
            Communication: To send you updates, newsletters, and other communications related to our services. You can opt-out of receiving these communications at any time.
            Analytics: To analyze usage patterns and trends to improve our services and develop new features.
            Security: To monitor and enhance the security of our services and protect against unauthorized access or use.
            <h4 class="font-black font-OnestB pt-10">3.5.3 How We Share Information</h4>
            We share information about you in the following ways:

            With Your Consent: We may share your information with third parties if you give us your consent to do so.
            Service Providers: We may share your information with third-party service providers who perform services on our behalf, such as hosting, data analysis, and customer support.
            Business Transfers: If Flavors is involved in a merger, acquisition, or sale of assets, your information may be transferred as part of that transaction.
            Legal Requirements: We may disclose your information if required to do so by law or in response to a valid legal request, such as a subpoena or court order.
            <h4 class="font-black font-OnestB pt-10">3.5.4 Data Retention</h4>
            We retain your information for as long as necessary to provide our services and fulfill the purposes outlined in this Privacy Policy. We may also retain and use your information to comply with legal obligations, resolve disputes, and enforce our agreements.

            <h4 class="font-black font-OnestB pt-10">3.5.5 Your Rights and Choices</h4>
            You have the following rights regarding your information:

            Access and Update: You can access and update your account information at any time by logging into your account.
            Delete: You can request the deletion of your account and personal information by following the instructions on our website.
            Opt-Out: You can opt-out of receiving marketing communications from us by following the unsubscribe instructions in those communications.
            <h4 class="font-black font-OnestB pt-10">3.5.6 Children's Privacy</h4>
            Flavors does not knowingly collect personal information from children under the age of 13. If we become aware that we have collected personal information from a child under the age of 13, we will take steps to delete that information as soon as possible.

            <h4 class="font-black font-OnestB pt-10">3.5.7 Changes to This Privacy Policy</h4>
            We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on our website. You are advised to review this Privacy Policy periodically for any changes.

            By using Flavors, you acknowledge that you have read, understood, and agree to be bound by this Privacy Policy.

            <h3 class="pt-10 font-black">3.6 Service Updates</h3>
            <p>Flavors may update, modify, or discontinue any aspect of the services at any time without notice.</p>

            <h3 class="pt-10 font-black">3.7 Deleting Your Flavors Account</h3>
            <p>You may delete your Flavors account at any time by following the instructions on our website.
                Upon deletion, your data will be removed from our servers, except as required by law.</p>

            <h3 class="pt-10 font-black">3.8 Eligibility and Use Restrictions</h3>
            <p>Flavors membership is available to individuals who are 18 years of age or older.
                By registering for an account, you represent and warrant that you are at least 18 years old.</p>

            <h2 class="pt-10">4. Content You Submit</h2>
            <p>By uploading, posting, submitting, or otherwise transmitting any content through the services,
                you grant Flavors a worldwide, non-exclusive, transferable, royalty-free license,
                with the right to sublicense, to use, store, copy, adapt, modify, create derivative works,
                distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream,
                broadcast, and otherwise exploit such content (in whole or in part) and/or to incorporate
                such content in other works in any form, media, or technology, for the purposes of operating,
                providing, improving, and promoting the services.</p>

            <h2 class="pt-10">5. Termination</h2>
            <p>Flavors reserves the right to terminate your access to the services at any time,
                with or without cause, and with or without notice.</p>

            <h2 class="pt-10">6. Indemnity</h2>
            <p>You agree to indemnify and hold harmless Flavors, its affiliates, and their respective officers,
                directors, employees, and agents from any claims, liabilities, damages, losses, and
                expenses arising from your use of the services.</p>

            <h2 class="pt-10">7. Limitation of Liability</h2>
            <p>Flavors will not be liable for any indirect, incidental, special, consequential, or
                punitive damages arising out of or relating to your use of the services.</p>

            <h2 class="pt-10">8. General</h2>
            <p>These Terms and Conditions constitute the entire agreement between you and Flavors
                regarding the use of our services. If any provision of these Terms and Conditions is
                found to be invalid, the remaining provisions will remain in full force and effect.</p>

            <h2 class="pt-10">9. Class Action/Jury Trial Waiver</h2>
            <p>You agree to resolve any disputes with Flavors on an individual basis and waive
                your right to participate in a class action lawsuit or a jury trial.</p>

            <h2 class="pt-10">10. Governing Laws</h2>
            <p>These Terms and Conditions are governed by and construed in accordance with
                the laws of South Africa, without regard to its conflict of law principles.
                This includes adherence to the Copyright Act of South Africa.</p>

            <h2 class="pt-10">11. Third-Party Services</h2>
            <p>Flavors gathers most of its recipes from other services such as "Recipe-Free."
                We are not responsible for the content, privacy policies, or practices of
                any third-party websites or services.</p>

            <h2 class="pt-10">12. General Prohibition</h2>
            <p>You agree not to engage in any activity that interferes with or disrupts the services.</p>

            <h2 class="pt-10">13. Ownership</h2>
            <p>All content on Flavors, including text, graphics, logos, and software,
                is the property of Flavors or its content suppliers and is protected by copyright,
                trademark, and other laws of South Africa and other countries. Unauthorized use of the
                services may violate these laws and Flavors' rights.</p>

            <h2 class="pt-10">14. Protection of Services</h2>
            <p>Flavors protects its services using copyright, trademark, and other intellectual property laws.
                Unauthorized use of the services may violate these laws and Flavors' rights.
                By using Flavors, you acknowledge that you have read, understood, and agree to be bound by these terms and conditions.</p>
        </section>
    </div>
{% endblock %}
</body>
</html>